<div class="row">
	<div class = "col">
		<div class = "newComment">	
			Username
			<input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="newUser" >
			Comment
			<input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="newText" >
			<button type="button" class="btn btn-primary btn-lg" (click) = "AddCommentButtonClick()" style="margin-left: 10px;">Add Comment</button>
		</div>
	</div>
</div>