
<h2> Cool things </h2>
<div class="jumbotron" >
	<div class = "container">	
		<progress-bar [progress]="getProgress()" [color-degraded]="{'0': '#00cbcb',  '15': '#f9c3d3', '25': '#fd8c8e'}">
		</progress-bar>	
	</div>


	<div class = "container" style="min-height: 150px;">
		<h2>{{getQuestion()}}</h2>
	</div>

	<div calss = "container">

		<button type="button" class="btn btn-danger" (click) = "navButtonClicked(-1)">Back</button>	
		
		<a href = {{getHelpUrl()}} target="_blank">
			<button [disabled]="infoButtonActive()" type="button" class="btn btn-primary">Help info</button>
		</a>
		
		<button type="button" class="btn btn-success" (click) = "navButtonClicked(1)">Next</button>

	</div>
	
</div>
