<h2> Users Comment</h2>
<div class="jumbotron" >
	
	<button type="button" class="btn btn-primary btn-lg btn-block"  (click) = "ShowCommentButtonClick()">{{GetButtonText()}}</button>

	<div *ngIf="GetCommentFlagState();else nonShow">
		<app-show-comment *ngFor="let comment of Coments" [comment] = "comment"> </app-show-comment>
		<app-add-comment (newCommentEvent) = "addComment($event)" > </app-add-comment>
	</div>

	<ng-template #nonShow>  
		<h4> ^^ PRESS BUTTON ^^ </h4>
	</ng-template>  

</div>
